{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}

    <link rel="stylesheet" href="../../static/css/lightbox.css">
    <link rel="stylesheet" href="../../static/css/flex-slider.css">
    <link rel="stylesheet" href="../../static/css/fontawesome.css">
    <link rel="stylesheet" href="../../static/css/owl.css">
    <link rel="stylesheet" href="../../static/css/templatemo-grad-school.css">

<div class="container-fluid" style="background-image: url(../../static/images/choosing-bg.jpg);background-size: cover;color: aliceblue;height: 100vh;">
        <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-6"style="margin-left:25%">
      {% if form.errors %}
        <p> Please check your input </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center"><u>SIGN UP</u></h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-warning btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}